.cv{
    padding: 135px 0 0 0;

    &_sense_block{
        padding: 0 0 30px 0;

        p{
            span{
                color: #999999;
            }
        }

        .about-block{
            p{
                padding: 0 0 5px 0;
                &.item{
                    font-weight: bold;
                }
                &.inner{

                }
            }
        }
    }
    .skills{
        display: flex;
        .skills-blocks{
            display: flex;
            .skill{
                text-align: center;
                padding: 3px;
                display: block;
                border-radius: 3px;
                background: rgba(29, 130, 218, 0.2);
                margin: 0 3px 6px 3px;
                p{
                    font-weight: 300;
                    font-size: 12px;
                }
                &.small-text{
                    p{
                        font-size:10px;
                    }
                }

                &:hover{
                    transition: all .3s;
                    background: rgba(29, 130, 218, 0.6);
                    cursor: default;
                }
            }
        }
    }
}
