.header{
    position: relative;
    display: flex;
    margin: 15px 0 0 0;

    a{
        text-decoration: none;
        color: #222;
    }

    &_logo{
        padding: 0 45px 0 0;
        height: 60px;
        p{
            &.name{
                font-style: normal;
                font-weight: bold;
                font-size: 30px;

                line-height: 1.4em;

            }
            &.nick{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
            }
        }
    }

    &_menu{
        ul{
            list-style-type: none;
            height: 60px;
            align-items: center;
            display: flex;
            li{
                display: inline-block;
                margin: 0 30px;
                a{
                    font-size: 18px;
                    &:hover{
                        transition: all .3s;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
